<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrrZHlXLYDExfImbSqy9Pxwu648NXEeBw</string>
	<key>GCM_SENDER_ID</key>
	<string>819218609380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.sehchar</string>
	<key>PROJECT_ID</key>
	<string>sehchar-68ce93</string>
	<key>STORAGE_BUCKET</key>
	<string>sehchar-68ce93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819218609380:ios:6a0cf956b28195d3a6e8f1</string>
</dict>
</plist>